body {
    background-color: black;
    color: white; 
    font-family: 'Playfair Display', serif;
}

h2 {
    text-align: center;
}

td {
    min-width: 200px;
    max-width: 300px;
}

.well {
    background-color: black;
    border: 1px solid black;
    margin-bottom: 2px;
    padding: 5px;
}

.shiny-input-container {
    margin-bottom: 1px;
}

.selectize-control {
    margin-bottom: 0px;
    font-size: 12px;
}

.has-options {
    height: 15px !important;
}